.wrapper {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem var(--margin);
    z-index: 100;
}

.scrolled {
    background: var(--alpha-dark-background);
}

.heading {
    color: var(--complement-color);
    font-size: 1.4rem;
    font-weight: bold;
}

.nav_buttons a {
    margin: 0 1em;
    transition: all 0.1s ease-in;
}

.nav_buttons a:hover {
    color: var(--complement-color);
    text-decoration: underline;
}

