.wrapper {
    width: 100%;
    /* background: var(--dark-background); */
    background: linear-gradient(to left, var(--transparent-background), var(--dark-background));
    margin: 3rem 0;
    padding: 1rem 0;
    border-radius: var(--default-border-radius);
    position: relative;
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1em 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    overflow-x: auto;
    overflow-y: hidden;
}
.container::-webkit-scrollbar {
    height: 6px;
}
.container::-webkit-scrollbar-track {
    background: var(--background);
}
.container::-webkit-scrollbar-thumb {
    background: #9999cc;
}

.container img {
    width: 4em;
    height: 4em;
    filter: saturate(0);
    cursor: pointer;
    transition: all 0.1s;
}
.selected {
    filter: saturate(1) !important;
}

.container img:not(.selected):hover {
    filter: saturate(0.5);
}
.selected:hover {
    transform: scale(0.9);
}