:root {
  --dark-background: #070F26;
  --background: #0F2154;
  --complement-color: #E2CB87;
  --transparent-background: #1a233b;
  --max-width: 800px;
  --alpha-dark-background: #070F2699;
  --default-border-radius: 10px;
  --margin: 4em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--dark-background);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 900px) {
  :root {
    --margin: 2em;
  }
  body {
    font-size: 0.8rem;
  }
}